// Colors
$dark: #212325;
$border: rgb(0, 21, 39);
$text: #fff;
$ligth: rgb(198, 255, 206);
$dark-text: rgb(21, 37, 53);
$secondary: rgb(109, 140, 226);

// Sizes
$main-padding: 170px;
$height-cronometro: 210px;